@page "/sessiondetails/{day}/{title}"
@using HTGR.Models
@inject HttpClient Http

<h3>Session Details</h3>
@if (session == null)
{
    if (message != null)
    {
        <h2>@message</h2>
    }
    else
    {
        <p><em>Loading...</em></p>
    }
}
else
{
    <h1>
        @session.Session <small>by</small>
    </h1>
    <div>
        @((MarkupString)session.Speaker)
    </div>
    <div>
        @session.Description
    </div>
}

@code {
    [Parameter] public string? day { get; set; }
    [Parameter] public string? title { get; set; }

    private SessionModel? session;
    private string? message;

    protected override async Task OnInitializedAsync()
    {
        message = null;
        try
        {
            session = await Http.GetFromJsonAsync<SessionModel>($"/api/sessions/{day}/{title}");
        }
        catch
        {
            message = "Something went wrong trying to get this session. Please try again.";
        }
    }
}
